{% extends "layout.njk" %}
{% block title %}
        <title>Receita Foodfy</title>
{% endblock title %}

{% block content %}
{% block headerLinks %}
{% endblock headerLinks %}
        <div class="black">
            <div class="header">
                <img src="/logo2.png" alt="logo">
            </div>
        </div>

        <div class="create">
            <h1>Criando receita</h1>
            <div class="option">
                <a href="/admin/recipes" class="saveRecipe">Salvar receita</a>
            </div>
        </div>

        {% include "administrator/fields.njk" %}
{% endblock content %}
