{% extends "layout.njk" %}
{% block title %}
        <title>Receita Foodfy</title>
{% endblock title %}

{% block content %}
{% block headerLinks %}
{% endblock headerLinks %}
    <form method="POST" action="/admin/recipes">
        <div class="black">
            <div class="header">
                <img src="/logo2.png" alt="logo">
            </div>
        </div>

        <div class="create">
            <h1>Criando receita</h1>
            <div class="option">
                <button type="submit" class="saveRecipe">Salvar receita</button>
            </div>
        </div>
        {% include "administrator/fields.njk" %}
    </form>

    {# PAREI AQUI #}

{% endblock content %}
