<section class="card-fields">
    <div class="title-fields">
        <h1>Imagem da receita<h1>
    </div>
        <div id="container-fields">
            <div class="image-input">
                <input 
                    type="url" 
                    name="avatarURL" 
                    value="" 
                    placeholder="http://"
                />
            </div>
        </div>

    <div class="title-fields">
        <h1>Ingredientes<h1>
    </div>
        <div id="container-fields">
            <div class="ingredient-input">
                <input 
                    type="text" 
                    name="ingredients[]" 
                    value="" 
                    placeholder=""
                />
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div class="title-fields">
        <h1>Mode de preparo<h1>
    </div>
        <div id="container-fields">
            <div class="preparation-input">
                <input 
                    type="text" 
                    name="preparations[]" 
                    value="" 
                    placeholder=""
                />
            </div>
        </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>
        
    <div class="title-fields">
        <h1>Informações adicionais<h1>
    </div>
        <div id="container-fields">
            <div class="information-input">
                <textarea 
                    type="text" 
                    name="information" 
                    value="" 
                    placeholder=""
                >
            </div>
        </div>
</section>